#z_link{
	display: block;
	font: italic bold 18px tahoma;
	text-decoration: none;
	color: #333;
	padding: 10px 5px;
	border: 2px solid #888;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.2);
}	#z_link:before{
		content: "Чтобы сделать группу «ВКонтакте», сайт, презентацию или буклет чуточку дружелюбнее, не обязательно нанимать команду дизайнеров и нарушать авторские права. Иногда достаточно своими силами сделать логотип и фавикон, а в сети найти бесплатный дизайнерский контент.";
	}