/* Банертаково типа применим только для одной рекламы */
.banner{
	width: 214px;
	height: 360px;
	position: absolute;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 12s;
}
#b1{
	background: url(../banner/b1.png);
	animation-name: b1;
}
#b2{
	background: url(../banner/b2.png);
	animation-name: b2;
}
#b3{
	background: url(../banner/b3.png);
	animation-name: b3;
}
#b4{
	background: url(../banner/b4.png);
	animation-name: b4;
}
@keyframes b1{
	0%{
		opacity: 0;
		z-index: 0;
	}
	1%{
		opacity: 0.3;
		z-index: 0;
	}
	2%{
		opacity: 1;
		z-index: 1;
	}
	23%{
		opacity: 1;
		z-index: 1;
	}
	24%{
		opacity: 0.3;
		z-index: 0;
	}
	100%{
		opacity: 0;
		z-index: 0;
	}
}
@keyframes b2{
	0%{
		opacity: 0;
		z-index: 0;
	}
	3%{
		opacity: 0.3;
		z-index: 0;
	}
	24%{
		opacity: 1;
		z-index: 1;
	}
	48%{
		opacity: 1;
		z-index: 1;
	}
	49%{
		opacity: 0.3;
		z-index: 0;
	}
	100%{
		opacity: 0;
		z-index: 0;
	}
}
@keyframes b3{
	0%{
		opacity: 0;
		z-index: 0;
	}
	49%{
		opacity: 0.3;
		z-index: 0;
	}
	50%{
		opacity: 1;
		z-index: 1;
	}
	73%{
		opacity: 1;
		z-index: 1;
	}
	74%{
		opacity: 0.3;
		z-index: 0;
	}
	100%{
		opacity: 0;
		z-index: 0;
	}
}
@keyframes b4{
	0%{
		opacity: 0;
		z-index: 0;
	}
	74%{
		opacity: 0.3;
		z-index: 0;
	}
	75%{
		opacity: 1;
		z-index: 1;
	}
	98%{
		opacity: 1;
		z-index: 1;
	}
	99%{
		opacity: 0.3;
		z-index: 0;
	}
	100%{
		opacity: 0;
		z-index: 0;
	}
}
#window1{
	font: bold 15px arial;
	padding: 3px 8px;
	color: #333;
	background: rgba(255, 255, 255, 0.3); /* 02 */
	backdrop-filter: blur(5px); /* bacground-filter */
	border: 2px solid #333;
	border-radius: 5px;
	display: inline-block;
}
#window2{
	padding-top: 30px;
	/* display: table-cell;
	vertical-align: middle;
	text-align: center; */
}
#hello{font: bold 20px tahoma}
#testbox{
	display: none;
}
#closeWindow{
	display:block;
	position: absolute;
	top: 0; right: 0;
	width: 26px; height: 26px;
	background-image: url(../img/close.png);
	background-size: 26px;
}
#zs{
	display: none;
}
#zs:checked ~ #testbox{
	position: fixed;
	left: calc(50% - 250px); top: calc(50% - 150px);
	z-index: 9;
	background: linear-gradient(180deg, #555 27px, rgba(220, 220, 220, 0.9) 27px, rgba(220, 220, 220, 0.9) 300px);
	outline: 1px solid #888;
	width: 500px;
	height: 300px;
	color: #333;
	display: table;
}
